@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

/*font-family: 'Ubuntu', sans-serif;*/

body {
    background-color: #111111;
    font-family: "Ubuntu", sans-serif;
}


/* INICIO ENCABEZADO */

.encabezado {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.encabezado h2 {
    color: rgba(255, 255, 255, 0.07);
    font-size: 6.8rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}

.encabezado h1 {
    position: absolute;
    top: 70px;
    color: white;
    font-size: 3.5rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.encabezado h1 span {
    color: #ffb400;
}


/* FIN DE ENCABEZADO */


/*INICIO NAVEGACION*/

.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 70px;
    right: 10px;
    z-index: 1;
}

.menu img {
    width: 40px;
}

.menu a span:first-child {
    display: inline-block;
    padding: 45px;
    margin: 5px;
}

.menu a {
    display: block;
    position: relative;
    overflow: hidden;
    color: #ffb400;
    font-weight: 700;
}

.menu a span:last-child {
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
}

.menu a span {
    transition: transform 0.2s ease-out;
}

.menu a:hover span:first-child {
    transform: translateY(100%);
}

.menu a:hover span:last-child {
    transform: none;
    font-size: 1rem;
}


/*FIN NAVEGACION*/


/* INICIO MENU HAMBURGUEZA */

.menu-hamburguesa {
    position: fixed;
    display: none;
}

.lbl-menu {
    width: 50px;
    height: 30px;
    position: relative;
    cursor: pointer;
}

.lbl-menu #spn1,
#spn2,
#spn3 {
    position: absolute;
    content: "";
    background-color: white;
    width: 50px;
    height: 5px;
    border-radius: 5px;
    transition: all 400ms ease;
}

#spn2 {
    top: 11px;
}

#spn3 {
    top: 22px;
}

#btn-menu {
    display: none;
}

#btn-menu:checked~.lbl-menu #spn1 {
    transform: rotate(140deg);
    top: 10px;
}

#btn-menu:checked~.lbl-menu #spn2 {
    opacity: 0;
}

#btn-menu:checked~.lbl-menu #spn3 {
    transform: rotate(-140deg);
    top: 10px;
}

.menu-hamburguesa ul li a img {
    width: 40px;
    margin: 10px 20px;
}


/* FIN  MENU HAMBURGUEZA */

.main-content {
    display: flex;
}

.main-content-items {
    width: 58%;
    margin-right: 25px;
}

.main-content-items h3 {
    font-size: 1.7rem;
    color: #fff;
    margin-bottom: 20px;
}

.main-content-items p {
    font-size: 1.2rem;
    line-height: 30px;
    color: #fff;
    margin-bottom: 20px;
}

.img-contact {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.img-contact img {
    width: 55px;
    margin-bottom: 30px;
}

.img-contact h5 {
    display: inline-block;
    opacity: 0.8;
    color: rgb(199, 195, 195);
    padding-top: 25px;
    padding-left: 15px;
}

.img-contact span {
    display: block;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 30px;
}

.iconos-redes {
    margin-bottom: 50px;
}

.iconos-redes img {
    width: 50px;
    margin-left: 10px;
}

.formulario {
    width: 60%;
}

.formulario input {
    border: 1px none #111;
    background: #252525;
    color: #fff;
    padding: 15px 16px;
    margin-left: 10px;
    margin-bottom: 30px;
    border-radius: 50px;
    outline: none;
    width: 150px
}

.inputs {
    display: flex;
    justify-content: space-between;
}

.formulario input:focus,
.formulario textarea:focus {
    border: 1px solid #ffb400;
}

.formulario textarea {
    font-size: 16px;
    border: 1px solid #111;
    background: #252525;
    color: #fff;
    width: 100%;
    padding: 12px 26px;
    margin-bottom: 40px;
    height: 160px;
    overflow: hidden;
    border-radius: 30px;
    outline: none;
}

.send {
    width: 200px;
    border: 1px solid #ffb400;
    padding: 15px 55px 15px 15px;
    border-radius: 20px;
    color: #fff;
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    overflow: hidden;
}

.send img {
    width: 50px;
    position: absolute;
    bottom: -1px;
    right: -2px;
}

.send::before {
    content: "";
    width: 200px;
    height: 50px;
    background: #ffb400;
    position: absolute;
    right: -195px;
    top: 0;
    transition: all 1s ease;
    z-index: -1;
}

.send:hover:before {
    transform: translate(-195px, 0px);
}

@media (max-width: 992px) {
    .menu {
        display: none;
    }
    /* INICIO MENU HAMBURGUEZA */
    .menu-hamburguesa {
        display: block;
        z-index: 99999;
        position: fixed;
        top: 10px;
        right: 70px;
    }
    .menu-hamburguesa ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #252525;
        top: 45px;
        left: -100%;
        transition: all 0.5s;
    }
    .menu-hamburguesa ul li {
        display: block;
    }
    .menu-hamburguesa ul li a {
        font-size: 10px;
        color: white;
        font-size: 25px;
        font-weight: lighter;
    }
    #btn-menu:checked~ul {
        left: 0;
    }
    /* FIN MENU HAMBURGUEZA */
    .main-content {
        display: block;
    }
    .main-content-items {
        width: 100%;
    }
    .formulario {
        width: 100%
    }
}

@media (max-width: 776px) {
    /* INICIO MENU HAMBURGUEZA */
    .menu-hamburguesa {
        display: block;
        z-index: 99999;
        position: fixed;
        top: 10px;
        right: 70px;
    }
    .menu-hamburguesa ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #252525;
        top: 45px;
        left: -100%;
        transition: all 0.5s;
    }
    .menu-hamburguesa ul li {
        display: block;
    }
    .menu-hamburguesa ul li a {
        font-size: 10px;
        color: white;
        font-size: 25px;
        font-weight: lighter;
    }
    #btn-menu:checked~ul {
        left: 0;
    }
    /* FIN MENU HAMBURGUEZA */
    .menu {
        display: none;
    }
    .container {
        width: 70%;
    }
    .inputs {
        flex-direction: column;
    }
    .formulario input {
        width: 100%;
    }
}

@media (max-width: 580px) {
    .container {
        width: 100%;
        margin: auto;
    }
    /* INICIO MENU HAMBURGUEZA */
    .menu-hamburguesa {
        display: block;
        z-index: 99999;
        position: fixed;
        top: 10px;
        right: 70px;
    }
    .menu-hamburguesa ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #252525;
        top: 45px;
        left: -100%;
        transition: all 0.5s;
    }
    .menu-hamburguesa ul li {
        display: block;
    }
    .menu-hamburguesa ul li a {
        font-size: 10px;
        color: white;
        font-size: 25px;
        font-weight: lighter;
    }
    #btn-menu:checked~ul {
        left: 0;
    }
    /* FIN MENU HAMBURGUEZA */
    .encabezado h2 {
        display: none;
    }
    .encabezado h1 {
        font-size: 23px;
        padding: 16px 25px 14px;
        background: #252525;
        border-bottom: 1px solid #333;
        margin-bottom: 36px;
        position: fixed;
        right: 0;
        left: 0;
        z-index: 11;
        top: 0;
        transition: all 400ms ease;
    }
    .menu {
        display: none;
    }
    .container {
        width: 80%;
    }
    .iconos-redes img {
        margin-left: 10px;
    }
    .send {
        margin-bottom: 70px;
    }
}